body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 10px 10px 40px 10px;
  padding: 0;
  background-color: lightyellow;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

nav a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: darkgreen;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid lightgrey;
}

th {
  border: 1px solid lightgrey;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

td {
  border: 1px solid lightgrey;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}
